@using MonsterLog.Models
@model Monster

<button data-toggle="collapse" data-target="monsterInfo" class="monster">@Model.Name</button>
<div class="monsterInfo" id="monsterInfo">

    <div class="monsterImg">
        <img src="~/images/@Model.Image" />
        <div class="monsterStats">
            @Model.Name
            @Model.LifeSpan
            @Model.Size
            @Model.Habitat
            @Model.Diet
            @Model.NaturalStrengths
            @Model.NaturalWeakness
        </div>
    </div>    
    <div class="monsterLore">
        @Model.Lore
    </div>
</div>