@using MonsterLog.Models
@model Monster

@{ 
    string id = Model.Name;
}

<button onclick="toggleVisibility('@id')" class="monsterButton">@Model.Name</button>
<div class="monsterInfo" style="display:none" id="@id">
    <div class="monsterImgBox">
        <img class="monsterImg" src="~/images/@Model.Image" />
    </div>
    <div class="monsterText">
        <div class="monsterLore">
            @Model.Lore
        </div>
        <div class="monsterStats">
            Name: @Model.Name
            <br/>
            Life Span: @Model.LifeSpan
            <br/>
            Size: @Model.Size
            <br/>
            Habitat: @Model.Habitat
            <br/>
            Diet: @Model.Diet
            <br/>
            Strengths: @Model.NaturalStrengths
            <br/>
            Weaknesses: @Model.NaturalWeakness
            <br/>
        </div>
    </div>
</div>