@using MonsterLog.Models
@model Monster

@{
    string id = Model.Name;
}

<div class="monsterInfo">
    <div class="monsterImgBox">
        <img class="monsterImg" src="~/images/@Model.Image" />
    </div>
    <div class="monsterText">
        <div class="monsterLore">
            @Model.Lore
        </div>
        <div class="monsterStats">
            <div class="statOne">Name: @Model.Name</div>
            <div class="statTwo">Life Span: @Model.LifeSpan</div>
            <div class="statOne">Size: @Model.Size</div>
            <div class="statTwo">Habitat: @Model.Habitat</div>
            <div class="statOne">Diet: @Model.Diet</div>
            <div class="statTwo">Strengths: @Model.NaturalStrengths</div>
            <div class="statOne">Weaknesses: @Model.NaturalWeakness</div>
        </div>
    </div>
</div>