@using MonsterLog.Models
@model List<Monster>

@section Title
    {
    Monster Page
}

@{
    int count = 8;
    int page = ViewBag.Page != null ? ViewBag.Page : 1;
}



<article>
    @for (int f = 0; f < count; f++)
    {
        if (f + ((page - 1) * count) < @Model.Count)
        {
            <button onclick="toggleVisibility('@f')" class="monsterButton">@Model[f + ((page - 1) * count)].Name</button>
            <div style="display:none" id="@f">
                <partial name="_MonsterPartial" model="@Model[f + ((page - 1) * count)]" />
            </div>
        }
    }
</article>

<nav class="navBar font">
    @if (page > 1)
    {
        int backPage = page - 1;
        <a asp-action="Monsters" asp-route-page="@backPage" asp-controller="Home">Back Page</a>
    }
    @if (page <= (@Model.Count / count))
    {
        int forwordPage = page + 1;
        <a asp-action="Monsters" asp-route-page="@forwordPage" asp-controller="Home">Next Page</a>
    }
</nav>